body { 
	background-color: #98cdcd;
}

.textbox{
	background: url(/assets/img/textbog.png) no-repeat top left;
	height: 119px;
	width: 330px;
	border: none;
	padding: 3px;
	margin: 0 auto;

}

textarea {
	font-size: 11px;
	border: 0;
	background: none;
	height: 110px;
	width: 315px;
	max-height: 110px;
	max-width: 315px;
}

textarea:focus {
	border: 0;
	box-shadow: none;
}
.post {
	border-bottom: 3px dashed #000000;
	margin-bottom: 25px;	

}
.post p{
	margin-bottom: 3px;

}